.flex container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left-column {
    flex: 1
}

.right-column {
    flex: 2
}

.button-row button {
    margin-right: 8px;
    background-color: turquoise;
}

.grey-font {
    font-weight: 100;
}

.right-20 {
    font-weight: 700;
    margin-right: 20px;
}

.content-left {
    display: flex;
    flex: 1;
}

.content-right {
    display: flex;
    flex: 1;
}