<div>
    <h1>Persoon</h1>
    <form #personForm="ngForm">
        <mat-form-field>



            <div class="form-group">
                <label for="person.PersonGivvenname">Voornaam</label>
                <input type="text" class="form-control" id="person.PersonGivvenName" required [(ngModel)]="person.PersonGivvenName" name="Voornaam">
            </div>

            <div class="form-group">
                <label for="person.PersonFamilyName">Achternaam</label>
                <input type="text" class="form-control" id="person.PersonFamilyName" required [(ngModel)]="person.PersonFamilyName" name="Achternaam">
            </div>

            <div class="form-group">
                <label for="person.PersonDateOfBirth">Geboortedatum</label>
                <input type="text" class="form-control" id="person.PersonDateOfBirth" required [(ngModel)]="person.PersonDateOfBirth" name="Geboortedatum">
            </div>

            <div class="form-group">
                <label for="person.PersonPlaceOfBirth">Geboorteplaats</label>
                <input type="text" class="form-control" id="person.PersonPlaceOfBirth" required [(ngModel)]="person.PersonPlaceOfBirth" name="Geboorteplaats">
            </div>

            <div class="form-group">
                <label for="person.PersonDateOfDeath">Overlijdensdatum</label>
                <input type="text" class="form-control" id="person.PersonDateOfDeath" [(ngModel)]="person.PersonDateOfDeath" name="Overlijdensdatum">
            </div>

            <div class="form-group">
                <label for="person.PersonPlaceOfDeath">Overlijdensplaats</label>
                <input type="text" class="form-control" id="person.PersonPlaceOfDeath" [(ngModel)]="person.PersonPlaceOfDeath" name="Overlijdensplaats">
            </div>



            <div class="form-group">
                <label for="person.PersonIsMale">Geslacht</label>
                <input type="text" class="form-control" id="person.PersonIsMale" required [(ngModel)]="person.PersonIsMale" name="Geslacht">
            </div>

            <div class="form-group">
                <label for="person.MotherName">Moeder</label>
                <input type="text" class="form-control" id="person.MotherName" [(ngModel)]="person.MotherName" name="Moeder">
            </div>

            <div class="form-group">
                <label for="person.FatherName">Vader</label>
                <input type="text" class="form-control" id="person.FatherName" [(ngModel)]="person.FatherName" name="Vader">
            </div>

            <div class="form-group">
                <label for="person.PartnerName">Partner</label>
                <input type="text" class="form-control" id="person.PartnerName" [(ngModel)]="person.PartnerName" name="Partner">
            </div>


            <button type="submit" class="btn btn-success">Opslaan</button>

        </mat-form-field>

    </form>
</div>