.flex container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left-column {
    flex: 1
}

.right-column {
    flex: 2
}

.button-row button {
    margin-right: 8px;
    background-color: turquoise;
}

.grey-font {
    font-weight: 100;
}

.right-20 {
    font-weight: 700;
    margin-right: 20px;
}

.container {
    display: grid;
    grid-template-columns: [first-column] 50% [second-column] 50% [end-of-columns];
    grid-template-rows: [first-row] 33% [second-row] 33% [third-row] 33% [end-of-rows];
}

.personpart {
    grid-column: first-column / second-column;
    grid-row: first-row / end-of-rows;
}

.childpart {
    grid-column: second-column / end-of-columns;
    grid-row: first-row / second-row;
}

.documentpart {
    grid-column: second-column / end-of-columns;
    grid-row: second-row / second-row;
}

.previouspartnerpart {
    grid-column: second-column / end-of-columns;
    grid-row: third-row / third-row;
}