html,
body,
.wrap {
    height: 100%;
}

body {
    overflow: hidden;
}

p {
    margin-bottom: 1em;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 auto;
    background-color: red;
    padding: 1em;
}

.content {
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
}

.active-list-item {
    color: blue !important;
}