<div fxLayout="column">
    <div>
        <label>Voer naam persoon in:</label>
        <input [(ngModel)]="nameToLookForFromScreen" type="text" name="nameToLookForFromScreen" id="namesToLookForFromScreen" (ngModelChange)='this.nameToLookForFromScreenUpdate.next($event)'>
        <button (click)='AddPerson(nameToLookForFromScreen)'>+</button>
    </div>

    <div>
        <mat-action-list>
            <button mat-list-item *ngFor="let item of plainpersonlist.data | keyvalue" (click)="sendMessage(item.value.PersonID)">
            {{item.value.Name}} =>
            </button>
        </mat-action-list>
    </div>
</div>