<form [formGroup]='childrenForm'>
    <!-- <form #childrenForm="ngForm"> -->

    <div>
        <h1>Kinderen</h1>
    </div>

    <mat-form-field>
        <mat-label>Kies een toe te voegen kind</mat-label>
        <mat-select formControlName="ChildToAdd" name="Toe te voegen kind" (selectionChange)="onPossibleChildAddition($event)">
            <!-- <mat-select> -->
            <mat-option *ngFor="let child of possibleChildrenList.data" [value]="child.PossibleChildID">
                {{child.PossibleChild}} ({{child.BirthDate}})
            </mat-option>
        </mat-select>
    </mat-form-field>


    <div>
        <mat-list-item *ngFor="let child of children.data | keyvalue">
            {{child.value.Kind}}
            <button mat-icon-button (click)="removeAsChild(child.value.KindId, child.value.Parent)">
                    <mat-icon>person_add_disabled</mat-icon>
                </button>
        </mat-list-item>
    </div>


</form>