<form #childrenForm="ngForm">

    <div>
        <h1>Kinderen</h1>
    </div>

    <!-- <div>
        <mat-action-list>
            <button mat-list-item *ngFor="let child of children.data | keyvalue" (click)="sendMessage(child.Kind)">
                {{child.value.Kind}}  met partner {{child.value.Partner}}=>
            </button>
        </mat-action-list>
    </div> -->


    <div>
        <mat-list-item *ngFor="let child of children.data | keyvalue">
            {{child.value.Kind}} met partner {{child.value.Partner}}
            <button mat-icon-button (click)="removeAsChild(child.KindId)">
                <mat-icon>person_add_disabled</mat-icon>
            </button>
            <button mat-icon-button (click)="removeAsPerson(child.KindId)">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </mat-list-item>
    </div>


</form>