<div class="center-text">
    <h1 class="inline:display" mat-dialog-title>Een persoon toevoegen.</h1>

    <mat-dialog-content>
        <div>
            <span>
                Hier komen de velden om een persoon toe te voegen
                .................................................
            </span>
        </div>
    </mat-dialog-content>


    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">Gegevens persoon NIET bewaren</button>
        <button class="mat-raised-button mat-primary" (click)="save()">Gegevens persoon bewaren</button>
    </mat-dialog-actions>