<div class="center-text">
    <h1 class="inline:display" mat-dialog-title>Gegevens van persoon: {{person}} verwijderen?</h1>

    <mat-dialog-content>
        <div>
            <span>
                    Als je op "Gegevens verwijderen" klikt, worden de gegevens van deze persoon verwijderd. Als je op "Gevens NIET verwijderen" klikt, worden de gegevens
                    niet verwijderd en verschijnen de 'oude' gegevens in het scherm zoals deze waren voordat je deze begon te bewerken.
                </span>
        </div>
    </mat-dialog-content>


    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">Gegevens NIET verwijderen</button>
        <button class="mat-raised-button mat-primary" (click)="save()">Gegevens verwijderen</button>
    </mat-dialog-actions>