.mat-toolbar {
    background-color: turquoise;
    height: 80px;
}

.mat-nav-list {
    margin-left: 250px;
}

.mat-sidenav-container {
    height: 100%;
}

.mat-sidenav {
    background-color: turquoise;
    border: 15px;
    width: 250px;
    padding: 15px;
}

.mat-sidenav-content {
    background-color: white;
    padding: 15px;
}

.active-list-item {
    color: blue !important;
}

.logo-container {
    width: 200px;
}

.logo-img {
    height: 80px;
    width: 200px;
}