.mat-toolbar {
    background-color: turquoise;
    height: 80px;
}

.mat-nav-list {
    margin-left: 250px;
}

.mat-sidenav-container {
    height: 100%;
}

.mat-sidenav {
    background-color: turquoise;
    border: 15px;
    width: 250px;
    padding: 15px;
}

.mat-sidenav-content {
    background-color: white;
    padding: 25px;
    /* display: flex; */
    /* display flex added */
}

.active-list-item {
    color: blue !important;
}

.logo-container {
    width: 200px;
}

.logo-img {
    height: 80px;
    width: 200px;
}

.content-left {
    display: flex;
    flex: 1;
}

.content-right {
    display: flex;
    flex: 1;
}

.right-upper-cell {
    margin-left: 15px;
    margin-bottom: 15px;
}

.right-lower-cell {
    margin-left: 15px;
}