<mat-toolbar>
    <span class="logo-container" fxLayoutAlign="start"> 
        <img class="logo-img" src='../../assets/GonomicsLogoSmall.png'>
    </span>
    <router-outlet></router-outlet>
</mat-toolbar>

<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened disableClose role="navigation">
        <router-outlet name="sidenavNavigatie"></router-outlet>
    </mat-sidenav>
    <mat-sidenav-content role="main">
        <!-- <router-outlet name="sidenavInhoud"></router-outlet> -->
        <!-- <svg id="MySvgID" width="100%" height="100%"> </svg> -->
        <!-- <svg id="MySvgID" width='100%' height='100%'></svg> -->

        <input #PerzonId1>
        <button (click)='getFather(PerzonId1.value)'>getFather</button>
        <div>
            FatherId= {{persons.data.FatherId}}
        </div>
        <div>
            Father= {{persons.data.Father}}
        </div>

        <input #PerzonId2>
        <button (click)='getFamilyTree(PerzonId2.value)'>getFamilyTree</button>
        <div>
            {{familytree.data}}
        </div>

        <input #namesToLookFor>
        <button (click)='getPlainListOfPersons(namesToLookFor.value)'>getPlainListOfPersons</button>
        <div>
            {{familytree.data}}
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>