<mat-toolbar>
    <span class="logo-container" fxLayoutAlign="start">
        <img class="logo-img" src='../../assets/oak-tree-png-2.svg'>
    </span>
    <mat-nav-list fxFlex fxLayout='row'>
        <mat-list-item fxLayoutAlign="center">
            <mat-icon>directions_walk</mat-icon>&nbsp;
            <!-- <a [routerLink]="'/personscreen'" routerLinkActive="active-list-item">Personen</a> -->
            <a [routerLink]="[{ outlets: { primary: ['personscreen'], sidenavNavigatie: ['searchhub'] } } ]" routerLinkActive="active-list-item">Personen</a>
        </mat-list-item>
        <mat-list-item fxLayoutAlign="center">
            <mat-icon>supervisor_account</mat-icon>&nbsp;
            <a [routerLink]="[{ outlets: { primary: ['relationscreen'], sidenavNavigatie: ['searchhub'] } } ]" routerLinkActive="active-list-item">Relaties</a>
        </mat-list-item>
        <mat-list-item fxLayoutAlign="center">
            <mat-icon>description</mat-icon>&nbsp;
            <a [routerLink]="[{ outlets: { primary: ['infoscreen'] } } ]" routerLinkActive="active-list-item">Relaties</a>
            <!-- <a routerLink="infoscreen" routerLinkActive="active-list-item">Info</a> -->
        </mat-list-item>
    </mat-nav-list>

</mat-toolbar>

<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened disableClose role="content">
        <router-outlet name="sidenavNavigatie"></router-outlet>
    </mat-sidenav>
    <mat-sidenav-content role="main">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>